# Editor files
**/*.swp
tags
.idea/
.vscode
apps/mobile_frontend/build.gradle
local.properties


# Project files
**/.secret.sh
admin/docker-compose.yml
node_modules/
package-lock.json

# generated code
**/*.g.dart

