.welcome-screen {
    height: 60vh;
    padding: 20vh;
}
.welcome-screen input {
    background-color: #00000000;
    border: none;
}

.welcome-screen input[type="text"] {
    color: var(--fg);
    text-align: center;
    border-bottom: 1px black solid;
}

.welcome-screen input[type="text"]:focus {
    outline: none;
    border-bottom: 1px var(--hl) solid;
}

.welcome-screen .email-input.valid-email {
    border-bottom: 1px var(--color-success) solid;
}

.welcome-screen input[type="button"] {
    background-color: #FFFFFF33;
    border-radius: 5px;
    padding: 10px;
    transition-duration: 500ms;
}
.welcome-screen input[type="button"]:hover {
    box-shadow: 2px 2px 3px black;
}

.welcome-screen .submit-email {
    visibility: hidden;
}
.welcome-screen .submit-email.show-submit-button {
    visibility: visible;
}
.welcome-screen .submit-signup {
    visibility: hidden;
}
.welcome-screen .submit-signup.show-submit-button {
    visibility: visible;
}
